<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/board.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="css/web/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootstrap core JavaScript -->
  <script src="css/web/jquery/jquery.min.js"></script>
  <script src="css/web/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body style="    background-color: #0079bf;">
	<!-- header -->
	<header class="header">

		<div class="boards-menu">

			<button class="boards-btn1 btn1"><i class="fab fa-trello boards-btn1-ico" style="margin-right: 2px;"></i>Boards</button>

			<div class="board-search">
				<input type="search" class="board-search-input" aria-label="Board Search">
				<i class="fas fa-search search-icon" aria-hidden="true"></i>
			</div>

		</div>

		<div class="logo">

			<h1 style="font-size: 22px; font-weight: 700;margin-bottom: 0px;"><i class="fab fa-trello logo-icon" aria-hidden="true"></i>Trello</h1>

		</div>
		<div class="user-settings">

			<button class="user-settings-btn1 btn1" aria-label="Create">
				<i class="fas fa-plus" aria-hidden="true"></i>
			</button>

			<button class="user-settings-btn1 btn1" aria-label="Information">
				<i class="fas fa-info-circle" aria-hidden="true"></i>
			</button>

			<button class="user-settings-btn1 btn1" aria-label="Notifications">
				<i class="fas fa-bell" aria-hidden="true"></i>
			</button>

			<button class="user-settings-btn1 btn1" aria-label="User Settings">
				<i class="fas fa-user-circle" aria-hidden="true"></i>
			</button>

		</div>

	</header>
	<!-- End of header -->


	<!-- Board info bar -->
	<section class="board-info-bar">

		<div class="board-controls">

			<button class="board-title btn1">
				<h2>Group 10-CN web </h2>
			</button>

			<button class="star-btn1 btn1" aria-label="Star Board">
				<i class="far fa-star" aria-hidden="true"></i>
			</button>

			<button class="personal-btn1 btn1">Personal</button>

			<button class="private-btn1 btn1"><i class="fas fa-briefcase private-btn1-icon" aria-hidden="true"></i>Private</button>

		</div>

		<button class="menu-btn1 btn1"><i class="fas fa-ellipsis-h menu-btn1-icon" aria-hidden="true"></i>Show Menu</button>

	</section>
	<!-- End of board info bar -->

	<!-- Lists container -->
	<section class="lists-container">

		<div class="list">

			<h3 class="list-title">Tasks to Do</h3>

			<ul class="list-items">
				<li>Complete mock-up for client website</li>
				<li>Email mock-up to client for feedback</li>
				<li>Update personal website header background image</li>
				<li>Update personal website heading fonts</li>
				<li>Add google map to personal website</li>
				<li>Begin draft of CSS Grid article</li>
				<li>Read new CSS-Tricks articles</li>
				<li>Read new Smashing Magazine articles</li>

			</ul>

			<button class="add-card-btn1 btn1">Add a card</button>

		</div>

		<div class="list">

			<h3 class="list-title">Completed Tasks</h3>

			<ul class="list-items">
				<li>Clear email inbox</li>
				<li>Finalise requirements for client web design</li>
				<li>Begin work on mock-up for client website</li>
			</ul>

			<button class="add-card-btn1 btn1">Add a card</button>

		</div>

		<div class="list">

			<h3 class="list-title">Topics/Concepts to Revise</h3>

			<ul class="list-items">
				<li>HTML Elements</li>
				<li>HTML Form Validation</li>
				<li>HTML Structured Data</li>
				<li>Advanced CSS Selectors</li>
				<li>CSS Transforms</li>
				<li>CSS Animations</li>
				<li>CSS Flexbox</li>
				<li>CSS Grid</li>
				<li>CSS Methodologies (BEM, SMACSS etc.)</li>
				<li>SASS/SCSS</li>

			</ul>

			<button class="add-card-btn1 btn1">Add a card</button>

		</div>
		<div class="list">

			<h3 class="list-title">Topics/Concepts to Revise</h3>

			<ul class="list-items">
				<li>HTML Elements</li>
				<li>HTML Form Validation</li>
				<li>HTML Structured Data</li>
				<li>Advanced CSS Selectors</li>
				<li>CSS Transforms</li>
				

			</ul>

			<button class="add-card-btn1 btn1">Add a card</button>

		</div>




		<button class="add-list-btn1 btn1">Add a list</button>

	</section>
	<!-- End of lists container -->
</body>
</html>