<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>header</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/menu_doc.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<!-- link bootstrap -->
	<link href="css/web/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootstrap core JavaScript -->
	<script src="css/web/jquery/jquery.min.js"></script>
	<script src="css/web/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript">

		// menu dọc khi click vào button trên thanh header 
		$(document).ready(function(){
			$(".active1").click(function(){
				$(this).toggleClass("active");
				$(".dropdown-menu1").toggleClass("active");
			})
		});
		$(document).ready(function(){
			$(".active2").click(function(){
				$(this).toggleClass("active");
				$(".dropdown-menu2").toggleClass("active");
			})
		});
		
		// alert form hiện ra khi ấn button thêm bảng 
		function testPromptDialog()  {
			
			var result = prompt("Nhập tên bảng", "ví dụ: nam-quân-123...");
			
			if(result != null)  {
				alert("Tạo bảng: " + result + " thành công");
			}
		}
	</script>
</head>
<body  style="background: #fafbfc;">
	<!-- header -->
	<header class="header">

		<div class="boards-menu">

			<button class="boards-btn1 btn1"><i class="fab fa-trello boards-btn1-ico" style="margin-right: 2px;"></i>Bảng</button>

			<div class="board-search">
				<input type="search" class="board-search-input" aria-label="Board Search">
				<i class="fas fa-search search-icon" aria-hidden="true"></i>
			</div>

		</div>

		<div class="logo">

			<h1 style="font-size: 22px; font-weight: 700;margin-bottom: 0px;"><i class="fab fa-trello logo-icon" aria-hidden="true"></i>Trello</h1>

		</div>
		<div class="user-settings">

			<button class="user-settings-btn1 btn1 active2" aria-label="Create">
				<i class="fas fa-plus" aria-hidden="true"></i>
			</button>
			<!-- menu doc -->
			<div class="dropdown-menu2 rounded">
				<ul>
					<li>Tạo mới</li>
					<li><button class="btn" onclick="testPromptDialog()">bảng cá nhân</button></li>
					<li><button class="btn" onclick="testPromptDialog()">bảng nhóm</button></li>
					
				</ul>
			</div>
			

			<button class="user-settings-btn1 btn1" aria-label="Information">
				<i class="fas fa-info-circle" aria-hidden="true"></i>
			</button>

			<button class="user-settings-btn1 btn1" aria-label="Notifications">
				<i class="fas fa-bell" aria-hidden="true"></i>
			</button>

			<button class="user-settings-btn1 btn1 active1" aria-label="User Settings">
				<i class="fas fa-user-circle" aria-hidden="true"></i>
			</button>

			<!-- menu doc  -->
			<div class="dropdown-menu1 rounded">
				<ul style="margin-bottom: 0px;">
					<li><a th:if="${#request.getUserPrincipal() == null}" href="/login">Anonymous</a></li>
					<li><a th:if="${#request.getUserPrincipal() != null}"  href="#" th:utext="${#request.userPrincipal.name}"> </a></li>
					<li><a th:if="${#request.getUserPrincipal() != null}"  href="#">Hồ sơ tài khoản </a></li>
					<li><a th:if="${#request.getUserPrincipal() != null}"  href="/logout">Đăng xuất</a></li>
				</ul>
			</div>

		</div>

	</header>
	<!-- End of header -->
</body>
</html>