<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/menu_doc.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<!-- link bootstrap -->
	<link href="css/web/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootstrap core JavaScript -->
	<script src="css/web/jquery/jquery.min.js"></script>
	<script src="css/web/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript">

		// menu dọc khi click vào button trên thanh header 
		$(document).ready(function(){
			$(".active1").click(function(){
				$(this).toggleClass("active");
				$(".dropdown-menu1").toggleClass("active");
			})
		});
		$(document).ready(function(){
			$(".active2").click(function(){
				$(this).toggleClass("active");
				$(".dropdown-menu2").toggleClass("active");
			})
		});
		
		// alert form hiện ra khi ấn button thêm bảng 
		 function testPromptDialog()  {
 
              var result = prompt("Nhập tên bảng", "ví dụ: nam-quân-123...");
 
              if(result != null)  {
                  alert("Tạo bảng: " + result + " thành công");
              }
         }
	</script>
</head>
<body style="background: #fafbfc;">

	<!--  nếu ông cắt header thì xóa đoạn header này đi nhé , t đánh dấu rồi  -->
	<!-- header -->
	<div th:replace="/header :: header"/>
	<!-- End of header (xóa đến đây nhé)-->


	<!-- Board info bar -->
	<section style="padding-bottom: 70px;">
	</section>
	<!-- End of board info bar -->
	

	<!-- Page Content -->
	<div class="container" >

		<div class="row">

			<div class="col-lg-3">

				<div class="list-group" style="padding-bottom: 5px;" >
					<a href="/board" class="list-group-item"><i class="fab fa-trello logo-icon"></i>Bảng</a>
					<a href="#" class="list-group-item"><i class="fas fa-book logo-icon"></i></i>Mẫu</a>
					<a href="#" class="list-group-item"><i class="fas fa-house-damage logo-icon"></i>Trang chủ</a>
				</div>
				<h6>Các nhóm </h6>
				<ul class="list-group">
					<a href=""><li class="list-group-item"><i class="fas fa-user-friends logo-icon"></i>nhóm 1</li></a>
					<a href=""><li class="list-group-item"><i class="fas fa-user-friends logo-icon"></i>nhóm 2</li></a>

				</ul>


			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">
				<h5><i class="far fa-clock logo-icon"></i> Bảng xem gần đây </h5>
				<div class="row">

					<div class="col-lg-3 col-md-6 mb-4">
						<div class="bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	
					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	
					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	


				</div>
				<!-- /.row -->
				<h5><i class="far fa-user logo-icon"></i></i> Bảng cá nhân </h5>
				<div class="row">

					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	

					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	
					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	
					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded">
							<button class="btn-block" style="min-height: 100px;" onclick="testPromptDialog()">
								<i class="fas fa-plus-circle" style="font-size: 30px;"></i>
							</button>
							
						</div>
					</div>	

				</div>
				<!-- /.row -->
				<h5><i class="fas fa-user-friends logo-icon"></i> Bảng nhóm </h5>
				<div class="row">

					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	

					<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded" >
							<a href="#" style="min-height: 100px;display:block "> 
								<p style="color: white; padding-left: 5px;"> tên bảng </p>
							</a>
							
						</div>
					</div>	
				<div class="col-lg-3 col-md-6 mb-4">
						<div class=" bg-info rounded">
							<button class="btn-block" style="min-height: 100px;" onclick="testPromptDialog()">
								<i class="fas fa-plus-circle" style="font-size: 30px;"></i>
							</button>
							
						</div>
					</div>	

				</div>
				<!-- /.row -->


			</div>
			<!-- /.col-lg-9 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->



</body>
</html>