<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/menu_doc.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic"
		  rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<!-- link bootstrap -->
	<link href="css/web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap core JavaScript -->
	<script src="css/web/jquery/jquery.min.js"></script>
	<script src="css/web/bootstrap/js/bootstrap.bundle.min.js"></script>

	<script type="text/javascript">

		// menu dọc khi click vào button trên thanh header
		$(document).ready(function () {
			$(".active1").click(function () {
				$(this).toggleClass("active");
				$(".dropdown-menu1").toggleClass("active");
			})
		});
		// ẩn hiện overlay panel
		function on() {
			document.getElementById("overlay").style.display = "block";
		}

		function off() {
			document.getElementById("overlay").style.display = "none";
		}
		//chuyển màu cho backgroud
		function PR() {
			document.getElementById("color_background").style.background = "#17a2b8";
		}

		function SF() {
			document.getElementById("color_background").style.background = "#f1c40f";
		}
		function Em() {
			document.getElementById("color_background").style.background = "#2ecc71";
		}
		function GS() {
			document.getElementById("color_background").style.background = "#16a085";
		}
		function Po() {
			document.getElementById("color_background").style.background = "#c0392b";
		}
		function MB() {
			document.getElementById("color_background").style.background = "#2c3e50";
		}
	</script>
</head>

<body style="background: #fafbfc;">

<!--  nếu ông cắt header thì xóa đoạn header này đi nhé , t đánh dấu rồi  -->
<!-- header -->
<header class="header">

	<div class="boards-menu">

		<button class="boards-btn1 btn1"><i class="fab fa-trello boards-btn1-ico"
											style="margin-right: 2px;"></i>Bảng</button>

		<div class="board-search">
			<form style="height: 30px;" method="post" th:action="@{/searchBoard}">
				<input type="text" name="pattern" id="pattern" class="board-search-input" aria-label="Board Search">
				<button style="border: 0;" type="submit"><i class="fas fa-search search-icon" aria-hidden="true"></i></button>
			</form>
		</div>
	</div>
	<div class="logo">

		<h1 style="font-size: 22px; font-weight: 700;margin-bottom: 0px;"><i class="fab fa-trello logo-icon"
																			 aria-hidden="true"></i>Trello</h1>

	</div>
	<div class="user-settings" style="margin-left: 160px;">

		<button class="user-settings-btn1 btn1" aria-label="Create" onclick="on()">
			<i class="fas fa-plus" aria-hidden="true"></i>
		</button>

<!--		<button class="user-settings-btn1 btn1" aria-label="Information">-->
<!--			<i class="fas fa-info-circle" aria-hidden="true"></i>-->
<!--		</button>-->

<!--		<button class="user-settings-btn1 btn1" aria-label="Notifications">-->
<!--			<i class="fas fa-bell" aria-hidden="true"></i>-->
<!--		</button>-->

		<button class="user-settings-btn1 btn1 active1" aria-label="User Settings">
			<i class="fas fa-user-circle" aria-hidden="true"></i>
		</button>

		<!-- menu doc 1 -->
		<div class="dropdown-menu1 rounded">
			<ul style="margin-bottom: 0px;">
				<li><a th:if="${#request.getUserPrincipal() == null}" href="/login">Anonymous</a></li>
				<li><a th:if="${#request.getUserPrincipal() != null}"  href="#" th:utext="${#request.userPrincipal.name}"> </a></li>
<!--				<li><a th:if="${#request.getUserPrincipal() != null}"  href="#">Hồ sơ tài khoản </a></li>-->
				<li><a th:if="${#request.getUserPrincipal() != null}"  href="/logout">Đăng xuất</a></li>
			</ul>
		</div>

	</div>

</header>
<!-- End of header (xóa đến đây nhé)-->

<!-- Board info bar -->
<section style="padding-bottom: 70px;">
</section>
<!-- End of board info bar -->


<!-- Page Content -->
<div class="container">

	<div class="row">

		<div class="col-lg-3">

			<div class="list-group" style="padding-bottom: 5px;" >
				<a href="/index" class="list-group-item"><i class="fas fa-house-damage logo-icon"></i>Trang chủ</a>
				<a href="/index" class="list-group-item"><i class="fab fa-trello logo-icon"></i>Bảng</a>
<!--				<a href="#" class="list-group-item"><i class="fas fa-book logo-icon"></i></i>Mẫu</a>-->

			</div>

		</div>
		<!-- /.col-lg-3 -->

		<div class="col-lg-9">

			<!-- /.row -->

			<h5><i class="far fa-user logo-icon"></i></i> Kết quả tìm kiếm </h5>
			<div class="row">

				<div class="col-lg-3 col-md-6 mb-4" th:each="board : ${boards}">
					<div class=" bg-info rounded"  th:style="'background-color: '+ ${board.BGR} + '!important;' + 'height:100px;'">
						<a th:href="@{/board?BID={BID}(BID=${board.ID})}" style="min-height: 82px;  display: block; text-decoration: none;">
							<p style="color: white; padding-left: 5px;" th:text="${board.NAME}">  </p>
						</a>
						<span>
						<a th:href="@{/deleteB?ID={ID}(ID=${board.ID})}" class="star-btn1 btn1" aria-label="Star Board" style="width: 16px; float: left">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</a>
						</span>
						<span>
						<a th:href="@{/star?ID={ID}(ID=${board.ID})}" class="star-btn1 btn1" aria-label="Star Board" style="width: 16px; float: right; margin-right: 10px;">
							<i class="far fa-star" aria-hidden="true" ></i>
						</a>
						</span>

					</div>

				</div>

			</div>

			<!-- /.row -->


		</div>
		<!-- /.col-lg-9 -->

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->


</body>
</html>